4
[
    {
        "id": "c903a58a.60bab8",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "15dc7dc0.0ac782",
        "type": "http in",
        "z": "c903a58a.60bab8",
        "name": "",
        "url": "/pin4",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "675a7d41.63a7e4"
            ]
        ]
    },
    {
        "id": "64e6e1e8.52926",
        "type": "rpi-gpio in",
        "z": "c903a58a.60bab8",
        "name": "GPIO4",
        "pin": "7",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "4c16e7f4.095158"
            ]
        ]
    },
    {
        "id": "4c16e7f4.095158",
        "type": "function",
        "z": "c903a58a.60bab8",
        "name": "set GPIO",
        "func": "global.set(\"GPIO\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 160,
        "wires": [
            [
                "dd2ccf9.6483c3"
            ]
        ]
    },
    {
        "id": "675a7d41.63a7e4",
        "type": "function",
        "z": "c903a58a.60bab8",
        "name": "Get GPIO ",
        "func": "msg.payload = global.get(\"GPIO\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 60,
        "wires": [
            [
                "a7e430de.dab02",
                "dd2ccf9.6483c3"
            ]
        ]
    },
    {
        "id": "dd2ccf9.6483c3",
        "type": "debug",
        "z": "c903a58a.60bab8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 680,
        "y": 240,
        "wires": []
    },
    {
        "id": "a7e430de.dab02",
        "type": "http response",
        "z": "c903a58a.60bab8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 120,
        "wires": []
    }
]
